
body {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #fff;
}

body {
  background-image: url("./midia/uni.jpg");
  background-position: center center;
  background-repeat: repeat repeat;
  background-size: cover;
  
}

#medidorPlaneta {
  border: 2px solid #000;
  width: 300px;
  height: 20px;
  background-color: #fff;

}
#barraPlaneta {
  width: 300px;
  height: 20px;
  background-color: #66f;
  
}
.navJog {
  width: 40px;
  height: 20px;
  /*background-image: url();*/
  position: absolute;
}

.navJog img {
  width: 60px;
  height: 40px;
}

.bomba {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-image: url("./midia/AsteroidBrown.png");
  position: absolute;
}
/* .contBombas img {
  width: 40px;
  height: 40px;
} */
.tiroJog {
  width: 6px;
  height: 6px;
  background-color: #ff8c00;
  border-radius: 10px;
  position: absolute;
}
.explosaoChao {
  width: 55px;
  height: 57px;
  position: absolute;
}
.explosaoAr {
  width: 70px;
  height: 70px;
  position: absolute;
}
